@tailwind base;
@tailwind components;
@tailwind utilities;

html {
}

img {
  height: auto;
}

header {
  padding-left: 5.5rem !important;
  padding-right: 5.5rem !important;
}

.topbar-links {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: large;
}

/*********** LandingPage.jsx *********** */

.gradient-background {
  background-image: url("/images/savebanner.png");
  background-size: cover;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  position: relative;
  margin-bottom: 1rem;
  word-spacing: 0.1rem;
  font-size: 0.9rem;
}

/*********** LandingPage.jsx *********** */

/*********** Topbar.jsx *********** */

.search-input {
  min-width: 16rem !important;
  margin-left: 7rem;
  margin-right: 7rem;
}

.search-input-border-color {
  border-color: #6867f6 !important;
  border-width: 0.1rem !important;
}

.backdrop-blur-fix {
  backdrop-filter: blur(2px) !important;
  z-index: 90;
  margin-top: 5rem;
}

/*********** Topbar.jsx *********** */

@media screen and (max-width: 1450px) {
  .search-input {
    margin-left: 0;
    margin-right: 0;
  }
}
/*
@media screen and (max-width: 1220px) {
  .md-show {
  }
}
*/

@media screen and (max-width: 1240px) {
  header {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .md-hidden {
    display: none;
  }
  .md-show {
    display: flex !important;
  }
}
