@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  font-family: "olyford-semibold";
}

img {
  height: auto;
}

header {
  padding-inline: 5.5rem !important;
}

.topbar-links {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: large;
  word-spacing: 0.2rem;
}

@font-face {
  font-family: "olyford-semibold";
  src:
    url("/fonts/olyford-semibold-webfont.woff2") format("woff2"),
    url("/fonts/olyford-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*********** LandingPage.jsx *********** */

#gradient-background {
  background-image: url("/images/savebanner.png");
  background-size: cover;
  background-position-x: center;
  height: 3rem;
  display: flex;
  color: white;
  font-weight: bold;
  position: relative;
  margin-bottom: 1rem;
  word-spacing: 0.1rem;
  font-size: 0.9rem;
}

/*********** LandingPage.jsx *********** */

/*********** Topbar.jsx *********** */

.search-input {
  min-width: 16rem !important;
  margin-inline: 7rem;
}

.search-input-border-color {
  border-color: #6867f6 !important;
  border-width: 0.1rem !important;
}

#backdrop-blur-fix {
  backdrop-filter: blur(2px) !important;
  z-index: 90;
  margin-top: 5rem;
}

/*********** Topbar.jsx *********** */

/*********** MainAbout.jsx *********** */

#main-about-bg {
  background-image: url("/images/main-about-bg.png");
  background-size: cover;
  background-position-x: center;
  /* set temporarily to 23rem to show the background image */
  background-position-y: -5rem;
  padding-inline: 5.5rem;
  padding-block: 4rem;
}

.img-hero-style {
  width: 40vw;
  height: fit-content !important;
  margin-inline: 6rem !important;
}

#get-started-btn {
  margin-top: 2rem;
  padding: "1.5rem 2.5rem";
  font-size: 1rem !important;
}

.inline-stack {
  display: flex;
  margin-inline: 1rem;
}

.hero-text {
  font-weight: 700;
  line-height: 5rem;
}

.greater-than-img {
  transform: rotate(270deg);
  height: auto;
  width: 0.7rem !important;
}

.h4-hero-text {
  font-size: 2.6rem;
  color: white;
}

#client-text {
  font-size: 2.6rem;
  color: #f6c644;
  margin-left: 0.8rem;
}

#commitment-p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: white;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/*********** MainAbout.jsx *********** */

/*********** ExploreTopSection.jsx *********** */

#explore-bg-section-top-half {
  background: linear-gradient(176deg, white 65%, #002855 35%);
  width: auto;
  padding-top: 5rem;
}

.book-title {
  text-align: center;
  line-height: 2rem !important;
  font-weight: 700;
  font-size: 1.6rem !important;
  margin-block: 1.2rem;
  color: white;
}

.book-detail-link {
  text-align: center;
  color: #53bde3;
}

/*********** ExploreTopSection.jsx *********** */

/*********** ExploreBottomSection.jsx *********** */

#explore-bg-section-bottom-half {
  background: linear-gradient(176deg, #002855 80%, white 20%);
  width: auto;
  padding-top: 4.5rem;
  padding-bottom: 15rem;
  padding-inline: 5.5rem;
}

.reason-label {
  line-height: 1.5rem !important;
  font-weight: 700;
  font-size: 1.4rem !important;
  margin-block: 1.4rem;
  color: white;
}

/*********** ExploreBottomSection.jsx *********** */

@media screen and (max-width: 1560px) {
  .search-input {
    margin-inline: 0;
  }
}

@media screen and (max-width: 1340px) {
  header {
    padding-inline: 2rem !important;
  }
  .md-hidden {
    display: none;
  }
  .md-show {
    display: flex !important;
  }
  /* sdflkj
  */
  .h4-hero-text {
    color: #151c55 !important;
  }
  #commitment-p {
    color: unset !important;
  }
}

@media screen and (max-width: 1035px) {
  #reason-list {
    flex-wrap: wrap;
    gap: 3.5rem;
  }
  #explore-bg-section-bottom-half {
    padding-bottom: 20rem;
  }
}

@media screen and (max-width: 800px) {
  #trusted-h4 {
    font-size: 4vw;
  }
  .clients-h4 {
    font-size: 3vw !important;
  }
}
