@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  font-family: "olyford-semibold";
}

img {
  height: auto;
}

header {
  padding-inline: 5.5rem !important;
}

.topbar-links {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: large;
  word-spacing: 0.2rem;
}

@font-face {
  font-family: "olyford-semibold";
  src:
    url("/fonts/olyford-semibold-webfont.woff2") format("woff2"),
    url("/fonts/olyford-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.flex {
  display: flex;
}

/*********** LandingPage.jsx *********** */

#gradient-background {
  background-image: url("/images/savebanner.png");
  background-size: cover;
  background-position-x: center;
  height: 3rem;
  display: flex;
  color: white;
  font-weight: bold;
  position: relative;
  margin-bottom: 1rem;
  word-spacing: 0.1rem;
  font-size: 0.9rem;
}

/*********** LandingPage.jsx *********** */

/*********** Topbar.jsx *********** */

.search-input {
  min-width: 16rem !important;
  margin-inline: 7rem;
}

.search-input-border-color {
  border-color: #6867f6 !important;
  border-width: 0.1rem !important;
}

#backdrop-blur-fix {
  backdrop-filter: blur(2px) !important;
  z-index: 90;
  margin-top: 5rem;
}

.min-right-padding {
  padding-right: 0.1rem !important;
}

.margin-top-2 {
  margin-top: 2rem;
}

/*********** Topbar.jsx *********** */

/*********** MainAbout.jsx *********** */

#main-about-bg {
  background-image: url("/images/main-about-bg.png");
  background-size: cover;
  background-position-x: center;
  /* set temporarily to 23rem to show the background image */
  background-position-y: -5rem;
  padding-inline: 5.5rem;
  padding-block: 4rem;
}

.img-hero-style {
  width: 40vw;
  height: fit-content !important;
  margin-inline: 6rem !important;
}

#get-started-btn {
  margin-top: 2rem;
  padding: "1.5rem 2.5rem";
  font-size: 1rem !important;
}

.inline-stack {
  display: flex;
  margin-inline: 1rem;
}

.hero-text {
  font-weight: 700;
  line-height: 5rem;
}

.greater-than-img {
  transform: rotate(270deg);
  height: auto;
  width: 0.7rem !important;
}

.h4-hero-text {
  font-size: 2.6rem;
  color: white;
}

#client-text {
  font-size: 2.6rem;
  color: #f6c644;
  margin-left: 0.8rem;
}

#commitment-p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: white;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/*********** MainAbout.jsx *********** */

/*********** ExploreTopSection.jsx *********** */

#explore-bg-section-top-half {
  background: linear-gradient(176deg, white 65%, #002855 35%);
  width: auto;
  padding-top: 5rem;
}

.book-title {
  text-align: center;
  line-height: 2rem !important;
  font-weight: 700;
  font-size: 1.6rem !important;
  margin-block: 1.2rem;
  color: white;
}

.book-detail-link {
  text-align: center;
  color: #53bde3;
}

/*********** ExploreTopSection.jsx *********** */

/*********** ExploreBottomSection.jsx *********** */

#explore-bg-section-bottom-half {
  background: linear-gradient(176deg, #002855 80%, white 20%);
  width: auto;
  padding-top: 4.5rem;
  padding-bottom: 15rem;
  padding-inline: 5.5rem;
}

.reason-label {
  line-height: 1.5rem !important;
  font-weight: 700;
  font-size: 1.4rem !important;
  margin-block: 1.4rem;
  color: white;
}

/*********** ExploreBottomSection.jsx *********** */

/*********** Profile.jsx *********** */

#profile-name {
  font-weight: 700;
  font-size: 1.7rem !important;
  color: #151c55;
  text-align: center;
}

#profile-title {
  font-weight: 700;
  font-size: 1.1rem !important;
  color: #83dcfc;
  text-align: center;
  line-height: 2rem;
}

#card-style {
  width: 50vw;
  background-color: #4299f7;
  overflow: visible;
  padding-block: 2rem;
  padding-inline: 3rem;
}

.rounded-t-large {
  justify-content: center;
}

.gap-5 {
  margin-top: -5.5rem !important;
  width: 6rem;
  height: auto;
}

.object-cover {
  width: 6rem;
  height: auto;
}

.ring-offset-background {
  --tw-ring-offset-color: #4299f7 !important;
}

.ring-default {
  --tw-ring-color: hsl(211.16deg 91.88% 61.37%) !important;
  width: 6rem;
  height: auto;
}

.ring-offset-2 {
  --tw-ring-offset-width: 0px !important;
}

/*********** Profile.jsx *********** */

/*********** FAQ section.jsx *********** */

#main-faq-div {
  background-color: #f2f5f8;
  display: grid;
  padding-block: 6rem;
}

.accordion-item h2 button div span {
  color: #6b6bf4;
  font-size: 1.4rem;
  font-weight: 700;
}

/*********** FAQ section.jsx *********** */

/*********** Footer.jsx *********** */

.h4-footer {
  font-weight: 700;
  font-size: 1.4rem;
}

#send-btn {
  font-size: 1.5rem;
  padding: unset !important;
  min-width: 2.5rem !important;
  width: 2.5rem !important;
  margin-right: -1rem;
}

#chat-avatar {
  grid-column: 6;
  width: 7rem;
  margin: unset;
  align-items: end !important;
}

#chat-avatar span {
  height: 5rem;
  width: 5rem;
}

#chat-avatar span img {
  height: auto;
  width: 3rem;
}

#media-stack span {
  height: 3.5rem;
  width: 3.5rem;
}

#media-stack span img {
  width: 1.2rem;
  height: auto;
}

#fb-div span {
  height: 3.5rem;
  width: 3.5rem;
}

#fb-div span img {
  width: 0.8rem;
  height: auto;
}

#grid-link-stack {
  gap: 7vw;
  display: grid;
}

/*********** Footer.jsx *********** */

/*********** SearchResultPage.jsx *********** */
.search-header {
  color: #151c55;
  margin-bottom: 2.5rem;
  font-size: 2.2rem;
}

.img-search-result {
  width: auto;
  height: 25rem;
  margin-right: 5rem;
}

.search-title {
  font-weight: 700;
  font-size: 1.6rem;
}

.search-detail {
  font-weight: 700;
  font-size: 1.2rem;
}

.div-flex {
  display: flex;
  gap: 0.7rem;
  margin-bottom: 0.5rem;
}

#searchPageMainDiv {
  margin-block: 4rem;
  margin-inline: 9rem;
}

/*********** SearchResultPage.jsx *********** */

@media screen and (max-width: 1560px) {
  .search-input {
    margin-inline: 0;
  }
}

@media screen and (max-width: 1340px) {
  header {
    padding-inline: 2rem !important;
  }
  .md-hidden {
    display: none !important;
  }
  .md-show {
    display: flex !important;
  }
  .h4-hero-text {
    color: #151c55 !important;
  }
  #commitment-p {
    color: unset !important;
  }
  #grid-link-stack {
    gap: 2.5vw;
  }
}
@media screen and (max-width: 1140px) {
  .sm-hidden {
    display: none !important;
  }
  .sm-flex-show {
    display: flex !important;
  }
  .sm-show {
    display: block !important;
  }
  .img-search-result {
    margin-right: 3rem !important;
  }
  #searchPageMainDiv{
    margin-inline: 4rem;
  }
}

@media screen and (max-width: 1035px) {
  #reason-list {
    flex-wrap: wrap;
    gap: 3.5rem;
  }
  #explore-bg-section-bottom-half {
    background: linear-gradient(176deg, #002855 90%, white 10%);
    padding-bottom: 12rem;
  }
}

@media screen and (max-width: 890px) {
  .xs-hidden {
    display: none !important;
  }
  .xs-show{
    display: flex !important;
    marign-inline: auto;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 800px) {
  #trusted-h4 {
    font-size: 4vw;
  }
  .clients-h4 {
    font-size: 3vw !important;
  }
}
